/*header*/
header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("../img/header2.jpg");
    color: aliceblue;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5%;
    margin: -8px;
}


header h1 {
    margin-top: -1%;
    font-size: 50px;
    text-align: center;
}

header p {
    margin-top: -2%;
    text-align: center;
}

header menu {
    display: flex;
    justify-content: center;
    gap: 3%;
    margin-top: 5%;
    list-style-type: none;
}

header a {
    border: 1px solid aliceblue;
    background-color: rgb(177, 212, 243);
    padding: 5px;
    text-decoration: none;
    color:aliceblue;
}


header a:hover {
    color:rgb(110, 127, 153);
    border: 1px solid rgb(110, 127, 153);
    font-size: 17px;
    transition: 0.2s;
}

header a:visited {
    background-color:rgb(166, 189, 223);
    
}

/*main*/
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(99, 141, 191);
    margin: 2%;
    padding-top: 20px;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 40px;
    margin-left: 30px;

}

menu {
    margin-bottom: 5%;
}

li {
    list-style-type: none;
}

a.home {
    border: 3px double aliceblue;
}

a.home:hover{
    color:rgb(110, 127, 153);
    border: 3px double rgb(110, 127, 153);
    font-size: 17px;
    transition: 0.2s;
}

img {
    padding: 38%;
    padding-top: 30px;
    padding-bottom: 40px;
    height: auto;
    width: 20em;
}

/*footer*/
footer {
    text-align: right;
    margin: -8px;
    padding-top: 10px;
    padding: 20px;
    font-size: 15px;
    background-color: rgb(110, 127, 153);
    color: aliceblue;
}

footer p {
    border-top: 1px solid aliceblue;
    padding-top: 1px;
}